@use "../abstracts/" as a;

// Buttons
.btn {
	border-width: 2px;
	border-style: solid;
	box-shadow: none;
	transform: translateY(0);
	transition:
		box-shadow 0.2s ease,
		transform 0.3s ease,
		background-color 0.3s ease,
		color 0.2s ease,
		border-color 0.2s ease;

	&:hover {
		background-color: a.$orange;
		color: white;
		border-color: a.$orange;
		transform: translateY(-2px);
		box-shadow: 0px 2px 5px rgba(black, 0.5) !important;
	}
}

.btn-orange {
	background-color: a.$orange;
	border-color: a.$orange;

	&:hover {
		background-color: white;
		color: a.$orange !important;
		border-color: white;
	}
}

.btn-earth-dk {
	background-color: a.$earth-dk;
	border-color: a.$earth-dk;
	color: white;
}

.btn-earth-alt {
	background-color: transparent;
	border-color: a.$earth-dk;
	color: a.$earth-dk;
}

.btn-earth-lt {
	background-color: a.$earth-lt;
	border-color: white;
	color: a.$earth-dk;
}

.btn-gray-lt {
	background-color: a.$gray-lt;
	border-color: white;
	color: a.$earth-dk;
}
