.saved-lives-container {
	perspective: 2000px;

	.saved-lives {
		> div {
			text-decoration: none;
			transform: translate3d(0deg);
			transform-style: preserve-3d;
			box-shadow: none;
			transition:
				transform 0.5s ease,
				box-shadow 0.3s ease;
		}

		&:hover {
			> div {
				border-radius: 20px;
				box-shadow: 0 0 10px rgba(black, 0.5);
				transform: translate3d(-1px, -1px, 30px) rotateX(-10deg) rotateY(-10deg);
			}

			p {
				text-decoration: underline;
			}
		}
	}
}
