.saved-lives-container {
	perspective: 2000px;

	.saved-lives {
		text-decoration: none;
		transform: translate3d(0deg);
		transition: transform 0.5s ease;
		transform-style: preserve-3d;

		> div {
			box-shadow: none;
			transition: box-shadow 0.3s ease;
		}

		&:hover {
			transform: translate3d(-1px, -1px, 30px) rotateX(-10deg) rotateY(-10deg);

			> div {
				border-radius: 20px;
				box-shadow: 0 0 10px rgba(black, 0.5);
			}

			p {
				text-decoration: underline;
			}
		}
	}
}
