$font-main:
	"Inter Variable",
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Helvetica,
	Arial,
	sans-serif;
$font-size: 18px;
$font-heavy: 900;
$font-bold: 700;

.fw-900 {
	font-weight: $font-heavy !important;
}

.fw-bold {
	font-weight: $font-bold !important;
}
