@use "../abstracts" as a;

// Header
#logo-rock-solid-christian-church {
	width: 190px;
	height: 100%;
	max-height: 54px;
	display: inline-block;

	@media (min-width: 1400px) {
		width: 225px;
	}

	g > path {
		fill: white;
	}
}

.nav-capsule {
	background: rgba(white, 0.2);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(white, 0.3);
	padding: 9px 0;

	.cta-hamburger {
		.cta {
			height: 47px;
			background: rgba(255, 255, 255, 0.2);
			color: white;

			&:hover {
				background-color: white;
				color: a.$gray-dk;
			}
		}

		.hamburger {
			background-color: white;
			transition: background-color 0.2s ease;

			.lines {
				.line {
					background-color: black;
					transition: background-color 0.2s ease;
				}
			}

			&:hover {
				background-color: a.$orange;

				.lines {
					.line {
						background-color: white;
					}
				}
			}
		}
	}
}

.mobile-drawer-glass {
	background: transparent !important;

	.offcanvas-wrap {
		background: rgba(15, 15, 15, 0.25) !important;
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		border-left: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 50px 0 0 50px;
		overflow: hidden;

		.offcanvas-header {
			.btn-close {
				margin-top: -4px;
			}
		}
	}
}
